SampleA1_C14220031.xml

<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:PO="www.contoso.com"
    targetNamespace="www.contoso.com"
    elementFormDefault="qualified">
  
    <!-- Root Element -->
    <xs:element name="PurchaseOrders">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PurchaseOrder" type="PO:PurchaseOrderType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- PurchaseOrderType -->
    <xs:complexType name="PurchaseOrderType">
        <xs:sequence>
            <xs:element name="Address" type="PO:AddressType" maxOccurs="2"/>
            <xs:element name="DeliveryNotes" type="xs:string" minOccurs="0"/>
            <xs:element name="Items" type="PO:ItemsType"/>
            <xs:choice minOccurs="0">
                <xs:element name="ShipDate" type="xs:date"/>
                <xs:element name="DeliveryNotes" type="xs:string"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="PurchaseOrderNumber" type="xs:string" use="required"/>
        <xs:attribute name="OrderDate" type="xs:date" use="required"/>
    </xs:complexType>

    <!-- AddressType -->
    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Street" type="xs:string"/>
            <xs:element name="City" type="xs:string"/>
            <xs:element name="State" type="xs:string"/>
            <xs:element name="Zip" type="xs:string"/>
            <xs:element name="Country" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="Type" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- ItemsType -->
    <xs:complexType name="ItemsType">
        <xs:sequence>
            <xs:element name="Item" type="PO:ItemType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ItemType -->
    <xs:complexType name="ItemType">
        <xs:sequence>
            <xs:element name="ProductName" type="xs:string"/>
            <xs:element name="Quantity" type="xs:positiveInteger"/>
            <xs:element name="USPrice">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:fractionDigits value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Comment" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="PartNumber" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>
